/*general*/
/*header*/
.header {
    /*background-color: #ffdab9;*/
    border-bottom: 1px solid darkslategrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 70px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-image: url(img/paw4.jpg);
}

.logo img {
    height: 50px;
    margin: 5px 0px 5px 20px;
    border: 1px solid rgb(111, 4, 4);
    border-radius: 5px;
    background-color: wheat;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.menu li {
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    color: darkslategrey;
    list-style: none;
    text-transform: uppercase;
    display: inline;
    border: lightcyan;
    background-color: white;
    margin: 0px 30px 0px 30px;
    border: 1px solid rgb(111, 4, 4);
    border-radius: 5px;
}

.menu li:hover {
    background-color: wheat;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    color: red;
}

.menu a:focus {
    color: grey;
}

/*body*/
body {
    background-color: #f8f8f8;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

html,
body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

.conteiner {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(img/4cat_with_dog.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;

}

h1 {
    font-size: 30px;
    color: rgb(19, 157, 6);
    background: none;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 20px;
    background: #eaeaea;
}


.information_list {
    margin: 40px;
}

.information_list p:first-letter {
    color: rgb(19, 157, 6);
    font-size: 30px;


}

/*content*/
.content {
    flex: 1 0 auto;
}

/*footer*/
.footer {
    border-top: 1px solid darkslategrey;
    color: rgb(220, 196, 181);
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px 5px 0px;
    align-items: flex-end;
    font-size: 16px;
    flex: 0 0 auto;
    height: 50px;
    background-color: rgb(56, 51, 48);
    border-top: 1px solid darkslategrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*index*/
.home {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*catalog*/
.catalog {
    display: flex;
    justify-content: center;
}

.catalog a {
    color: rgb(228, 2, 2);
    text-decoration: underline;
}

.watch_catalog {
    border: 1px solid black;
    float: left;
    width: 180px;
    text-align: center;
    margin: 0px 20px;
    padding: 5px;
}

.watch_catalog p {
    all: inherit;
}

.watch_catalog:hover {
    background-color: rgb(255, 131, 109);
}

.watch_catalog_center {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.catalog div:hover {
    background-color: wheat;
}

.mono {
    font-family: monospace;
    color: blue;
    text-decoration: underline;
}

.buy {
    margin: 60px;
    font-size: 25px;
    background-color: orange;
    color: black;
}

.buy:hover {
    background-color: green;
    color: white;
}

.buy:focus {
    background-color: #a5a5a5;
    color: #f0f0f0;
}

.shortDescription {
    font: 14px italic;
    color: #707070;
    line-height: 16px;
}

.fullDescription {
    font: 16px 400;
    color: #484343;
    line-height: 24px;
    text-align: left;
}

.characteristics {
    list-style-image: url(img/cat_dog.png);
    text-align: left;
    padding: 20px;
    margin: 0px;
    clear: both;
}

.call {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    width: 200px;
}

.call img {
    height: 120px;
}

.catalog_call {
    margin: 10px;
}

.catalog a:hover {
    color: green;
}

table {
    border: 1px solid black;
    height: 400px;
    width: 700px;
    border-collapse: collapse;
    background-color: peachpuff;
    ;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}


.feed {
    outline: 5px solid rgb(19, 157, 6);
}

.feed:hover {
    outline: 0px;
}

.line_description {
    float: left;
    padding: 0px 70px 0px 0px;
}

/*contacts*/
textarea,
.singInput {
    width: 200px;
    height: 20px;
    color: rgb(211, 112, 26);
    font-size: 16px;
}

textarea:focus,
input.singInput:focus {
    color: rgb(50, 113, 14);
    background-color: rgb(252, 225, 191);
}

textarea {
    width: 500px;
    height: 200px;
}

textarea:first-letter {
    font-size: 20px;
}

.place_words,
textarea {
    text-transform: capitalize;
}

.map {
    border: 1px solid rgb(236, 182, 82);
    margin: 20px;
}
